#heading {
	font-size: 34px;
	margin-left: 25px;
	color: grey;
	font-weight: bold;
}

.container-fluid {
	margin-left: 50px;
	margin-top: 50px;
}

#list {
	text-align: width/2;
	margin-top: 30px;
	margin-left: 600px;
	background-color: white;
}

#description {
	font-size: 20px;
	color: #0000AA;
	font-weight: bold;
	margin-left: 350px;
	margin-top: 10px;
}

#description1 {
	font-size: 20px;
	color: #0000FF;
	font-style: italic;
	margin-left: 550px;
	margin-top: 0px;
	line-height: 0.1;
}

#description2 {
	font-size: 20px;
	margin-left: 500px;
	cursor: pointer;
}