#all {
	background-color: white;
	height: 1075px;
	width: 1125px;
}

#head {
	background-color: #CCEEEE;
	padding: 5px 30px;
	letter-spacing: 0;
	width: 1180px;
	font-size: 34px;
	margin-left: -25px;
	color: grey;
	font-weight: bold;
}

body {
	margin-top: 50px;
	max-width: 1150px;
	max-height: 1000px;
	margin: auto;
	background-color: #1D3559;
}

h2 {
	line-height: 100px;
	color: #222222;
	font-family: "Lucida Sans Unicode", "Lucida Sans";
	font-size: 24px;
	font-weight: 300;
	margin-left: 5px;
	padding: 5px 0 30px;
}

.container-fluid {
	margin-left: 50px;
	margin-top: 50px;
}

#list {
	text-align: width/2;
	margin-left: 475px;
	background-color: white;
}

#description {
	font-size: 20px;
	color: #0000AA;
	font-weight: bold;
	margin-left: 130px;
	margin-top: 10px;
	font-family: "Lucida Sans Unicode", "Lucida Sans";
}

#description1 {
	font-size: 20px;
	color: #0000FF;
	font-style: italic;
	margin-left: 400px;
	margin-top: 0px;
	line-height: 0.1;
}

#description2 {
	font-size: 20px;
	cursor: pointer;
	text-align: center;
}

button {
	margin: 10px;
	display: inline-blockblock;
	font-size: 14px;
	font-family: "Lucida Sans Unicode", "Lucida Sans";
	align-items: center;
	justify-content: center;
	float: center;
}

#descript {
	font-size: 20px;
	line-height: 7px;
	color: #0000AA;
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Sans";
}

#description4 {
	font-size: 30px;
	background: transparent;
	padding: 5px;
	font-weight: 500;
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Sans";
	line-height: 25px;
}

#resetText {
	width: auto;
	margin-left: 480px;
	display: inline-block;
	height: 22px;
	font-size: 14px;
	font-family: "Lucida Sans Unicode", "Lucida Sans";
	line-height: 3px;
	cursor: pointer;
}

#checkSentence {
	margin-left: 420px;
	display: inline-block;
	height: 25px;
	font-size: 14px;
	font-family: "Lucida Sans Unicode", "Lucida Sans";
	line-height: 3px;
	cursor: pointer;
}

#description5 {
	text-align: center;
	font-size: 30px;
	font-family: "Lucida Sans Unicode", "Lucida Sans";
	line-height: 2;
}

#description6 {
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Sans";
	line-height: 20px;
	font-size: 16px;
	margin-top: 50px;
}

#allButtons {
	float: center;
	margin-left: 480px;
	font-size: 14px;
	font-family: "Lucida Sans Unicode", "Lucida Sans";
	display: block;
	cursor: pointer;
}